@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root * {
    --radius: 0rem;
 /*  animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    */

     }

  .dark {
    --radius: 0rem;
  }
}
